﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="Website.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Files</title>
    <style>        h1{font-size: 70px;
            height: 48px;
        }
           h2{font-size: 40px;}
           div{font-size: 30px;}
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <h1>ECgit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Button ID="ret" runat="server" Height="55px" Text="Projects" Width="207px" BorderStyle="Solid" OnClick="ret_Click" />
        </h1>
        <h4 style =" color:lightcoral; width: 150px;">FILES</h4>
        <div>
            <asp:Label ID="HELLO" runat="server" BorderStyle="None"></asp:Label>
            <br />
            <br />
            <asp:Table ID="ProjTable" 
            runat="server" 
            Font-Size="X-Large" 
            Width="550" 
            Font-Names="Palatino"
            BorderWidth="2"
            CellPadding="5"
            CellSpacing="5"
            >
                <asp:TableHeaderRow 
                    runat="server" 
                    ForeColor="Snow"
                    BackColor="OliveDrab"
                    Font-Bold="true"
                    >
                    <asp:TableHeaderCell>ID</asp:TableHeaderCell>
                    <asp:TableHeaderCell>Project name</asp:TableHeaderCell>
                    <asp:TableHeaderCell>Data</asp:TableHeaderCell>
                </asp:TableHeaderRow>
            </asp:Table>

            <br />
        </div>
    </form>
</body>
</html>
